RewriteEngine On
# Se não for um arquivo real (como uma imagem ou CSS)
RewriteCond %{REQUEST_FILENAME} !-f
# Se não for uma pasta real
RewriteCond %{REQUEST_FILENAME} !-d
# Pegue tudo que vem depois de /roadmaps/ e envie para o index.php
RewriteRule ^([^/]+)/?$ index.php?path=$1 [L,QSA]